
.select2-container--default .select2-results>.select2-results__options {
     /* max-height: 200px;
     overflow-y: auto; */
    overflow-wrap: break-word;
}

.displayerModal {
    height: auto;
}

