
.select2-container--default .select2-results>.select2-results__options {
     /* max-height: 200px;
     overflow-y: auto; */
    overflow-wrap: break-word;
}

.displayerModal {
    height: auto;
}


/* input[required], select[required]{
    background-image: radial-gradient(#F00 15%, transparent 16%), radial-gradient(#F00 15%, transparent 16%);
    background-size: 1em 1em;
    background-position: left top;
    background-repeat: no-repeat;
} */
label[required]::after{
    content:" *";
    color: red;
}


